Repository phxntninja/MUTTv2.3: changes, and which Codecov flags are due for each by the changed paths.
All: services, scripts

codecov.yml:

# Codecov Configuration for MUTT v2.5
# Enforces code coverage standards and prevents coverage regression

coverage:
  status:
    project:
      default:
        # Fail PR if overall project coverage drops below this percentage
        target: auto
        threshold: 1%  # Allow up to 1% coverage drop
        informational: false  # Make this a required check
    patch:
      default:
        # Require new code in PRs to have at least this coverage
        target: 70%
        informational: false  # Make this a required check

  range: 60..95  # Color scale from red (60%) to green (95%)

comment:
  layout: "diff, flags, files"
  behavior: default  # Post comment on PRs
  require_changes: true  # Only comment if coverage changed

ignore:
  - "tests/**/*"  # Don't measure coverage of test files themselves
  - "**/__pycache__"
  - "**/.venv*"
  - "**/venv*"
  - "scripts/temp_*.py"  # Temporary scripts

# Flag configuration for different parts of the codebase
flags:
  services:
    paths:
      - services/
    carryforward: true
  scripts:
    paths:
      - scripts/
    carryforward: true

Priority 4: Add ADR index link to main README
  README.md
Due: none

phase6 updated
  .claude/settings.local.json
Due: none

phase 6 complete
  PHASE_6_COMPLETION_STATUS.md
Due: none

phase 7 work
  README.md
  docs/API_VERSIONING.md
  docs/prometheus/README.md
  docs/prometheus/alerts-v25.yml
  ingestor_service.py
  k8s/partition-create-cronjob.yaml
  moog_forwarder_service.py
  scripts/create_monthly_partitions.py
  scripts/cron/mutt-partition-create
  services/alerter_service.py
  services/api_versioning.py
  tests/test_api_v2_parity.py
  tests/test_config_audit_api.py
  web_ui_service.py
Due: services, scripts

step2 phase 7
  docker-compose.test.yml
  docs/DATA_RETENTION_GUIDE.md
  scripts/run_e2e.sh
  services/mock_moog.py
  tests/integration/test_e2e_flow.py
Due: services, scripts

nearly done
  .github/workflows/ci.yml
  docs/adr/ADR-005-circuit-breaker-moog-forwarder.md
  docs/adr/README.md
  scripts/muttdev.py
  tests/load/flood_ingest.py
Due: scripts

codex thinks it's just doing finishing touches
  .github/workflows/ci.yml
  README.md
  docs/ONCALL_RUNBOOK.md
  docs/images/README.md
Due: none

Add comprehensive Gemini documentation prompt with standalone server focus
  ai/GEMINI_DOCUMENTATION_PROMPT.md
Due: none

updating docs
  .claude/settings.local.json
  README.md
  docs/API_CONFIG_AUDIT_ENDPOINTS.md
  docs/INTEGRATION_TESTING.md
  docs/ONCALL_RUNBOOK.md
  docs/adr/ADR-006-api-versioning.md
  docs/images/ports-diagram.svg
  ingestor_service.py
  tests/test_api_v2_parity.py
Due: none

codex updating documentation
  .github/workflows/e2e.yml
  QUICKSTART.md
  docs/architecture/SYSTEM_ARCHITECTURE.md
  docs/operations/DOCUMENTATION_PLAN.md
Due: none

updating full documentation
  docs/architecture/DEPLOYMENT_ARCHITECTURE.md
  docs/architecture/DESIGN_RATIONALE.md
  docs/architecture/EVOLUTION_ROADMAP.md
  docs/architecture/INTEGRATION_PATTERNS.md
  docs/architecture/SCALABILITY_GUIDE.md
  docs/operations/INSTALLATION_GUIDE.md
  venv310/activate/Scripts/Activate.ps1
  venv310/activate/Scripts/activate
  venv310/activate/Scripts/activate.bat
  venv310/activate/Scripts/deactivate.bat
  venv310/activate/Scripts/pip.exe
  venv310/activate/Scripts/pip3.10.exe
  venv310/activate/Scripts/pip3.exe
  venv310/activate/Scripts/python.exe
  venv310/activate/Scripts/pythonw.exe
  venv310/activate/pyvenv.cfg
Due: none

are we there yet?
  docs/operations/SERVICE_OPERATIONS.md
  moog_forwarder_service.py
  services/alerter_service.py
  services/web_ui_service.py
Due: services

code level docs completed
  docs/INDEX.md
  docs/api/REFERENCE.md
  docs/code/EXAMPLES.md
  docs/code/MODULES.md
  docs/db/SCHEMA.md
  docs/operations/TROUBLESHOOTING_GUIDE.md
Due: none

docs almost dones
  README.md
  docs/INDEX.md
  docs/api/openapi.yaml
Due: none

post build cleanup and docs
  .claude/settings.local.json
  CHANGELOG.md
  README.md
  configs/prometheus/alerts.yml
  configs/prometheus/prometheus.yml
  docker-compose.yml
  docs/API_VERSIONING.md
  docs/INDEX.md
  docs/RELEASE_CHECKLIST.md
  docs/architecture/DEPLOYMENT_ARCHITECTURE.md
  docs/architecture/RHEL_STANDALONE_CHECKLIST.md
  docs/operations/BACKUP_RECOVERY.md
  docs/operations/CONFIG_MANAGEMENT.md
  docs/operations/INCIDENT_RESPONSE.md
  docs/operations/MONITORING_ALERTING.md
  docs/operations/README.md
  moog_forwarder_service.py
  services/alerter_service.py
  services/web_ui_service.py
  tests/smoke/test_smoke.py
Due: services

adding more documentation
  legacy/backups/ingest_service.py.kimi-backup
  legacy/config/environment.py
Due: none

deployment files
  docs/INDEX.md
  docs/operational/RHEL_INSTALLATION_GUIDE.md
  docs/slides/PRESENTATION_GUIDE.md
  scripts/export_pdfs.ps1
  scripts/export_pdfs.sh
  scripts/vendor_reveal.ps1
  scripts/vendor_reveal.sh
Due: scripts

almost there
  docs/operational/RHEL_INSTALLATION_GUIDE.md
  docs/slides/PRESENTATION_GUIDE.md
  scripts/export_pdfs.ps1
  scripts/export_pdfs.sh
Due: scripts

auto generated pdfs
  docs/slides/ONE_PAGER.pdf
  docs/slides/mutt_v25_exec.pdf
  docs/slides/mutt_v25_tech.pdf
  scripts/export_pdfs.ps1
Due: scripts

I think we are almost ready to install. Going to have all 3 tools check the code again
  README.md
  demo_snmp_traps.json
  demo_syslog_events.json
  docs/operational/EVENT_FORWARDING_TO_MUTT.md
  docs/operational/INGESTOR_TLS_REVERSE_PROXY.md
  docs/operational/RHEL_INSTALLATION_GUIDE.md
  docs/operational/RSYSLOG_FORWARD_TO_MUTT_TLS.conf
  docs/operational/RSYSLOG_TCP_INPUT.conf
  docs/operational/RSYSLOG_UDP_INPUT.conf
  docs/operational/SNMPTRAPD_OPTIONS.md
  docs/operational/UBUNTU_INSTALLATION_GUIDE.md
  mutt_event_sender.py
  requirements.txt
  scripts/check_pdfs.sh
  scripts/snmptrap_to_mutt.sh
Due: scripts

updated
  MUTT_Project_Overview_v2.3.md
  QUICKSTART.md
  README.md
  doc_summary.py
  docs/FEATURE_MATRIX.md
Due: none

mystery files
  QUICKSTART.md
  README.md
  docs/CONFIGURATION.md
  docs/INDEX.md
  docs/REBUILD_GUIDE.md
Due: none

troubleshooting hangs
  scripts/retention_cleanup.py
  services/environment.py
  tests/test_retention_cleanup.py
Due: services, scripts

investigating faileing tests
  services/alerter_service.py
  services/web_ui_service.py
Due: services

cluade to the rescue
  ARCHITECT_STATUS_FOR_GEMINI.md
  CURRENT_PLAN.md
  PHASE_6_COMPLETION_STATUS.md
  PHASE_7_PLAN.md
  V2.5_TASK_TRACKER.md
  services/logging_utils.py
  tests/conftest.py
  tests/test_alerter_unit.py
  tests/test_api_v2_parity.py
  tests/test_audit_integration.py
  tests/test_config_audit_api.py
  tests/test_integration_v25.py
  tests/test_versioning_integration.py
  tests/test_webui_unit.py
Due: services

circling back to the work that wasn't completed
  PHASE_7_PLAN.md
  V2.5_TASK_TRACKER.md
  docs/prometheus/recording-rules-v25.yml
  services/audit_logger.py
  tests/test_audit_integration.py
  tests/test_audit_logger.py
  tests/test_remediation_unit.py
Due: services

claude thinks we are done
  V2.5_TASK_TRACKER.md
  cli/commands/__init__.py
  cli/commands/cmd_config.py
  cli/commands/cmd_db.py
  cli/commands/cmd_logs.py
  cli/commands/cmd_setup.py
  cli/commands/cmd_status.py
  cli/commands/cmd_test.py
  cli/muttdev
  docs/FEATURE_COMPARISON_v2.5.md
  docs/LOAD_TESTING_GUIDE_v2.5.md
  docs/MIGRATION_GUIDE_v2.5.md
  docs/adr/ADR-001-redis-over-kafka.md
  docs/adr/ADR-004-postgresql-audit-logs.md
  docs/adr/ADR-TEMPLATE.md
  k8s/retention-cleanup-cronjob.yaml
  scripts/init_default_configs.py
  scripts/install_muttdev.sh
  scripts/retention_policy_enforcer.py
  services/moog_forwarder_service.py
Due: services, scripts

updates to phase 3
  V2.5_TASK_TRACKER.md
  ai/handoffs/PHASE_3_ANSWERS_GEMINI.md
  services/ingestor_service.py
  services/slo_checker.py
  tests/test_phase3_integration.py
Due: services

architecutre signoff
  V2.5_TASK_TRACKER.md
Due: none

rebuild instructions update 1
  docs/REBUILD_GUIDE.md
Due: none

rebuild phase 2 details
  docs/REBUILD_GUIDE.md
Due: none

rebuild docs done
  docs/REBUILD_GUIDE.md
Due: none

updating architecural documents
  ARCHITECT_STATUS_FOR_GEMINI.md
  CHANGELOG.md
Due: none

last update from Claude
  V2.5_TASK_TRACKER.md
  docs/ARCHITECT_STATUS_FOR_GEMINI.md
Due: none

more updates for rebuilding in detail
  docs/REBUILD_GUIDE.md
Due: none

final rebuild update?
  docs/REBUILD_GUIDE.md
Due: none

Configure Dependabot to ignore redis and pytest major versions
  .github/dependabot.yml
  DEPENDABOT_CLEANUP_GUIDE.md
  DEPENDABOT_QUICK_COMMANDS.md
  cleanup_dependabot_branches.sh
Due: none

tweaking install scripts
  deployments/scripts/deploy_debian.sh
  docs/DEBIAN_DEPLOYMENT_GUIDE.md
Due: none
